<h2>Gameplay options</h2>
<ul>
  <li><%= link_to "Manage creatures", creature_definitions_path %></li>
  <li><%= link_to "Manage feelings", feeling_definitions_path %></li>
  <li><%= link_to "Manage actions", action_definitions_path %></li>
  <li><%= link_to "Manage items", item_definitions_path %></li>
  <li><%= link_to "Manage graphics", graphics_path %></li>
  <li><%= link_to "Manage dreams", dream_definitions_path %></li>
  <li><%= link_to "Manage phases", phase_definitions_path %></li>
</ul>