<%= form_for :graphic, @graphic, :html => { :multipart => true } do |f| %>
  <% if @graphic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graphic.errors.count, "error") %> prohibited this graphic from being saved:</h2>

      <ul>
      <% @graphic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render :partial => "graphics/fields", :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

