<!DOCTYPE html>
<html>
<head>
  <title>Gronk</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body onload="init();">

<%= yield %>

</body>
</html>